@use "variables" as var;

.btn-block {
    // border: 3px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;   
    padding: 0 10px;
    &__action {
        display: flex;
        gap: 10px;
    }
    &.flex-center {
        justify-content: center;
    }
    &.flex-between {
        justify-content: space-between;
    }
    &.flex-end {
        justify-content: flex-end;
    }
    .auth-link {
        color: rgb(170, 228, 255);
        text-decoration: underline;
    }  
}
.btn {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-width: 100px;
    padding: 0 16px;
    height: 34px;
    background-color: rgb(219, 219, 219);
    color: var.$white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    @media (max-width: var.$mobile-max) {
        min-width: 120px;
        height: 42px;
    }      
}

.btn-red {
    background-color: var.$white;
    border: 1px solid var.$btn-red;
    color: var.$btn-red;
    &:hover {
        background-color: var.$btn-red-hover;
        color: var.$white;
    }
}
.btn-green {
    background-color: var.$btn-green;
    color: var.$white;
    &:hover {
        background-color: var.$btn-green-hover;
    }
}
.btn-blue {
    background-color: var.$white;
    border: 1px solid var.$btn-blue;
    color: var.$btn-blue;
    &:hover {
        background-color: var.$btn-blue-hover;
        color: var.$white;
    }
}

.btn-link {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

// CHECK IF EXISTS
.btn-link-var-white {
    color: var.$white;
}
.btn-link-black {
    color: black;
}




.cell-btn {
    // border: 1px solid black;
    border-radius: 4px; 
    background: transparent;
    width: 24px;
    height: 24px; 
    font-size: 14px;
    cursor: pointer;
    &.overdue {
        width: 18px;
        height: 18px;   
    }
}

.btn-icon-edit {
    background-image:  url("../images/icons/edit-dark.svg"); 
    background-repeat: no-repeat;      
    background-size: 75%; 
    background-position: center;  
    &:hover {
        background-image:  url("../images/icons/edit-light.svg");         
    } 
}
.btn-icon-delete {
    background-image:  url("../images/icons/delete-dark.svg"); 
    background-repeat: no-repeat;      
    background-size: 75%; 
    background-position: center;   
    &:hover {
        background-image:  url("../images/icons/delete-light.svg"); 
        background-size: 75%;         
    }  
}
.btn-icon-postpone {
    background-image:  url("../images/icons/postpone-dark.svg"); 
    background-repeat: no-repeat;      
    background-size: 65%; 
    background-position: center;    
    &:hover {
        background-image:  url("../images/icons/postpone-light.svg");  
                    
    } 
}
.btn-icon-add {
    background-image:  url("../images/icons/add-dark.svg");
    background-repeat: no-repeat; 
    background-position: center;    
    &:hover {
        background-color: var.$btn-green;
        background-image:  url("../images/icons/add-light.svg");              
    }     
}
