@use "variables" as var;

.products-table-row {
    background-color: var.$white;
    // border: 3px solid red;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
    height: 260px;
    margin-bottom: 20px;
    padding: 5px 5px 5px 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden; 
    max-width: 100%;
    &__image {
        border: 3px solid red;
        background-color: rgb(203, 211, 213);
        // border: 1px solid rgb(178, 189, 196);
        flex: 0 0 8%;
        height: 150px;
        text-align: center;
        padding: 2px;
        img {
            height: 100%
        }
    }    
 
    &__title-and-price-block {
        //  border: 3px solid red;
        flex: 0 0 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; 
        width: 64ch;  
        @media (min-width: var.$desktop-min) and (max-width: var.$desktop-max) {  
            width: 44ch; 
            // border: 3px solid red; 
            // max-width: 100%;                                      
        }     
        @media (min-width: var.$tablet-min) and (max-width: var.$tablet-max) {  
            width: 30ch; 
            // border: 3px solid blue; 
            // max-width: 100%; 
        }         
        @media (max-width: var.$mobile-max) {  
            width: 10ch;             
            max-width: 100%;             
            flex: 1 0 185px;   
            font-size: 22px;            
        }                
    } 

    &__title {
        font-size: 20px;
        display: block;
        // border: 3px solid red;
        // flex: 1 0 200px;
        color: var.$base-text;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
        width: 64ch;
        margin-bottom: 10px;
        &::first-letter {
            text-transform: capitalize;
        }
        @media (min-width: var.$desktop-min) and (max-width: var.$desktop-max) {  
            width: 46ch; 
            // border: 3px solid red; 
            // max-width: 100%;                                      
        }     
        @media (min-width: var.$tablet-min) and (max-width: var.$tablet-max) {  
            width: 30ch; 
            // border: 3px solid blue; 
            // max-width: 100%; 
        }         
        @media (max-width: var.$mobile-max) {  
            width: 17ch;             
            max-width: 100%;             
            flex: 1 0 185px;   
            font-size: 22px;            
        }           
    }
    &__price-history-block {
        // border: 5px solid rgb(2, 255, 120);
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 100%;
        overflow: hidden;
        scrollbar-width: auto;
    }
    &__shop {
        // border: 5px solid rgb(255, 196, 2);        
        background-color: rgb(114, 150, 155);
        // max-width: 100%;
        padding: 6px 10px;
        overflow-x: auto; /* Включает горизонтальный скролл, если содержимое шире контейнера */
        overflow-y: hidden; /* Опционально: отключает вертикальный скролл, если не нужен */
        max-width: 100%; /* Ограничивает ширину контейнера */
        white-space: nowrap; 
        &.ozon-style {
            background-color: rgba(0, 91, 255, 1);            
        }
        &.wb-style {
            background-color: #a83afd;            
        }
        &.ya-style {
            background-color: #fc5230;                  
        }
    }
    &__shop-title {
        font-size: 14px;
        font-weight: 600;
        color: var.$white;
        flex: 0 0 80px;
        margin-bottom: 5px;
    }
    &__price-history {
        // overflow: hidden;
        // flex: 0 0 100%;
        // max-width: 100%;
        // border: 3px solid red;
        display: flex;
        gap: 5px;
        // padding: 4px;
    }
    &__price-history-item {
        // border: 1px solid #ccc;
        display: flex;
        gap: 2px;
        background-color: rgb(235, 235, 235);
        border-radius: 6px;
        font-size: 13px;
        font-weight: 600;
        color: var.$base-text;
        padding: 4px 6px;
    }  
    &__qty {
        @media (max-width: var.$mobile-max) {    
            font-size: 22px;            
        }          
    }
    &__actions {
        border: 3px solid red;
        display: flex;
        align-items: center;
        flex: 0 0 5%;
    }
    @media (max-width: var.$mobile-max) {  
        // height: 44px;              
    }     
}
