.products-header {
    &__actions {
        // border: 3px solid red;
        // padding: 3px;
        // display: flex;
        gap: 4px
    }
    &__actions-btn {
        width: 50px;
        // height: 14px;
        color: #eee;
        font-size: 12px;
        font-weight: 600;
        transition: 0.2s;
        // opacity: 0.7;
        border: none;
        padding: 4px;
        &.selected {
            // outline: 4px solid #02fdfdff;
            border-bottom: 1px solid blue
        }
    }
}

.text-ozon {
    color: rgb(58, 127, 255); 
}
.text-wb {
    color: #bf6cff;   
}
.text-ya {
    color: rgb(243, 180, 34);
}
.text-dns {
    color: rgb(255, 152, 50);
}

.bg-ozon {
    background-color: rgb(54, 116, 232);  
    color: #eee;
}
.bg-wb {
    background-color: #a145e7;  
    color: #eee;
}
.bg-ya {
    background-color: rgb(243, 180, 34);
    color: #eee;
}
.bg-dns {
    background-color: rgb(243, 138, 34);
    color: #eee;
}



