@use "variables" as var;

.products-table-row {
    background-color: var.$white;
    // border: 3px solid red;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
    height: 120px;
    margin-bottom: 10px;
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden; 
    max-width: 100%;

    &__image {
        // border: 3px solid red;
        background-color: rgb(203, 211, 213);
        border: 1px solid rgb(139, 151, 159);
        flex: 0 0 10%;
        height: 100%;
        text-align: center;
        img {
            height: 100%
        }
    }    
 
    &__title-and-price-block {
        // border: 3px solid red;
        height: 100%;
        flex: 0 0 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; 
        width: 64ch;  
        @media (min-width: var.$desktop-min) and (max-width: var.$desktop-max) {  
            width: 44ch;                                      
        }     
        @media (min-width: var.$tablet-min) and (max-width: var.$tablet-max) {  
            width: 30ch;  
        }         
        @media (max-width: var.$mobile-max) {  
            width: 10ch;             
            max-width: 100%;             
            flex: 1 0 185px;   
            font-size: 22px;            
        }                
    } 

    &__title {
        // border: 1px solid blue;
        font-size: 13px;
        display: block;
        color: var.$base-text;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
        width: 64ch;
        text-transform: uppercase;
        @media (min-width: var.$desktop-min) and (max-width: var.$desktop-max) {  
            width: 46ch; 
            // border: 3px solid red; 
            // max-width: 100%;                                      
        }     
        @media (min-width: var.$tablet-min) and (max-width: var.$tablet-max) {  
            width: 30ch; 
            // border: 3px solid blue; 
            // max-width: 100%; 
        }         
        @media (max-width: var.$mobile-max) {  
            width: 17ch;             
            max-width: 100%;             
            flex: 1 0 185px;   
            font-size: 22px;            
        }           
    }
    &__price-history-block {
        // border: 2px solid rgb(1, 7, 4);
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: 100%;
        height: 100px;
    }
    &__shop {

    }
    &__shop-title {
        font-size: 13px;
        font-weight: 600;
        flex: 0 0 80px;
    }
    &__shop-max-price {
        font-size: 12px;
        font-weight: 600;
        color: rgb(255, 0, 0);
        text-align: center;
    }
    &__price-history {
        // border: 3px solid rgb(255, 2, 2); 
        border-top: 1px solid rgb(255, 0, 0);  
        border-bottom: 2px solid rgb(0, 255, 0);  
        display: flex;
        align-items: flex-end;
        gap: 2px;
        height: 83px;
    }
    &__price-history-item {
        // border: 1px solid #ccc;
        display: flex;
        gap: 2px;
        font-size: 12px;
        font-weight: 600;
        color: #fff;
        padding: 4px 6px;
    }  
    &__qty {
        @media (max-width: var.$mobile-max) {    
            font-size: 22px;            
        }          
    }
    &__actions {
        // border: 3px solid red;
        display: flex;
        align-items: center;
        flex: 0 0 5%;
    }
    @media (max-width: var.$mobile-max) {  
        // height: 44px;              
    }     
}
