@use "variables" as var;

.reminder {
    &__title {
        text-align: center;
        margin-bottom: 20px;
        color: var.$white;
    }
}

.reminder-card {
    background-color: rgb(240, 229, 188);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 10px;
    min-height: 140px;
    &.overdue {
        min-height: fit-content;  
        padding: 10px 10px 10px;
    }
    &__title {
        text-align: center;
        text-transform: capitalize;
        font-size: 16px;
        margin-bottom: 14px;
        &.overdue {
            font-size: 16px;  
        }        
    }
}

.reminder-card-item {
    margin-bottom: 4px;
}

.card-row {
    border-bottom: 1px solid rgb(212, 212, 212);
    padding: 0 2px;
    display: flex;
    align-items: flex-end;
    gap: 20px;
    &.overdue {
        // height: 20px;
    }
    &__date {
        @media (max-width: var.$mobile-max) {  
            display: none;              
        }          
    }    
    &__title {
        flex: 1 0 200px;
        color: var.$base-text;
        font-size: 18px;
        font-weight: 500;
        font-style: italic;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
        width: 21ch;  
        &.overdue {
            color: red;
        }  
        &.overdue {
            font-size: 16px;
        }
        &.today {
            font-size: 20px;
            color: rgb(0, 145, 53);
        } 
        @media (min-width: var.$desktop-min) and (max-width: var.$desktop-max) {    
            max-width: 100%;                                      
        }     
        @media (min-width: var.$tablet-min) and (max-width: var.$tablet-max) {  
            max-width: 100%; 
        }         
        @media (max-width: var.$mobile-max) {  
            width: 17ch;             
            max-width: 100%;             
            flex: 1 0 185px;               
        }           
    }
    &__actions {
        display: flex;
        align-items: center;
    }
}
