@use "variables" as var;

.sidebar-btn {
    background-color: transparent;
    position: absolute;
    left: 14px;
    top: 14px;
    color: white;
    font-size: 16px;
    z-index: 1;
}

.sidebar {
    background-color: var.$sidebar-bg;
    width: 300px;
    min-height: 100vh;
    transition: .4s;
    z-index: 2;         
    @media (max-width: var.$mobile-max) {  
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        min-height: 100vh;
        transition: .4s;                
    }  
    &.show {  
        left: 0; 
    }
}
.sidebar-header {
    position: relative;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0px;
    &__close-btn {
        display: none;
        @media (max-width: var.$mobile-max) {  
            background-color: transparent;
            position: absolute;
            right: 14px;
            top: 14px;
            color: white;
            font-size: 16px;  
            display: block;
        }              
    } 
}
.sidebar-main {
    margin-bottom: 20px;
}
.sidebar-main-auth {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid rgb(0, 102, 68);
    width: 85%;
    margin: 0 auto 30px;
    padding: 5px;
    background-color: #96c4d6;
    &__name {
        font-weight: 600;
        color: rgb(0, 102, 68);
        font-size: 20px;
        text-transform: capitalize;
    }
    &__logout-link {
        margin-top: 2px;
        color: var.$btn-red;
    }
}
.sidebar-main-nav {
    padding: 10px 0;
    border-top: 1px solid rgb(98, 138, 165);
    border-bottom: 1px solid rgb(98, 138, 165);
}
.sidebar-main-nav-item {
    display: block;
    color: var.$white;
    border-bottom: 1px solid var.$nav-link-divider;
    padding: 10px 20px;
    transition: 0.4s;
    font-size: 18px;
    &:hover {
        background-color: var.$nav-link-hover;
    }
    &.active {
        background-color: var.$nav-link-hover;
    }
}

.backend-info-block {
    padding-left: 20px;
    &__label {
        margin-right: 10px;
        letter-spacing: 0.1px;
        font-size: 12px;
        color: var.$yellow;
    }
    &__value {
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        &.text-green { color: rgb(0, 214, 0) }
        &.text-blue {
            color: rgb(58, 160, 255);
        }
    }
}