@use "variables" as var;

.top-panel {  
    display: none; 
    @media (max-width: var.$mobile-max) {  
        display: block;
        background-color: var.$top-panel-bg;
        border-bottom: 1px solid grey;
        padding: 0 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        height: 50px;
        margin-bottom: 4px;
    }      
}

