@use "sass:color";

            /* ---- screen sizes ---- */
$desktop-max: 1439px;
$desktop-min: 1024px;
$tablet-max: 1023px;
$tablet-min: 768px;
$mobile-max: 767px;

            /* ---- colors ---- */
/* --- common --- */
$white: rgb(228, 228, 228);
$red: rgb(228, 15, 15);
$orange: orange;
$blue: rgb(61, 108, 139);
$green: green;
$grey: grey;


/* --- text --- */
$base-text: rgb(36, 54, 87);


/* --- bg --- */
$top-panel-bg: rgb(61, 108, 139);
$sidebar-bg: rgb(61, 108, 139);
$header-bg: rgb(92, 137, 167);
// $content-bg: rgb(92, 137, 167);
$content-bg: rgb(171, 193, 207);


/* --- btn --- */
$lightness: 10%;

$btn-red: rgb(228, 15, 15);
$btn-red-hover: color.adjust($btn-red, $lightness: 20%);

$btn-blue: rgb(61, 108, 139);
$btn-blue-hover: color.adjust($btn-blue, $lightness: $lightness);

$btn-green: green;
$btn-green-hover: color.adjust($btn-green, $lightness: $lightness);

$btn-grey: grey; $btn-grey-hover:
color.adjust($btn-grey, $lightness: $lightness);


/* --- link --- */
$nav-link-hover: rgb(78, 136, 175);
$nav-link-divider: 1px solid color.adjust($sidebar-bg, $lightness: -3%);